@import url(root.css);
body{
    font-family: "raleway";
    font-weight: 700;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    width: 85%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .85rem;
    padding-bottom: .85rem;
}

.logo{
    width: 9.3rem;
}

.div-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50%;
}

.input-search{
    padding: .75rem;
    background: var(--background-blanco);
    border-radius: 1.25rem;
    border: none;
    outline: none;
}

.btn-search{
    margin-left: -50px;
    border: none;
    opacity: 50;
    background-color: var(--background-blanco);
}

.btn-lupa{
    display: none;
}

a{
    text-decoration: none;
}

footer{
    width: 100%;
    background-color: #EAF2FD;
    display: flex;
}

.formulario-container{
    display: flex;
    width: 85%;
    height: min-content;
    flex-direction: row;
    margin: 4rem auto;
    justify-content: space-between;
}

.logo-footer-container{
    display: flex;
    width: min-content;
    height: min-content;
    flex-direction: column;
}

.links-container{
    display: flex;
    flex-direction: column;
}

.links-container a{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;

}

.formulario{
    width: 46%;
    display: flex;
    flex-direction: column;
    margin-right: 3.313rem;
}

.formulario h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.input-container{
    position: relative;
}

.input-name{
    height: 56px;
    width: -webkit-fill-available;
    margin-bottom: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
}

.input-label{
    position: absolute;
    left: 12px;
    top: 18px;
    font-size: 16px;
    font-weight: 400;
}

.textarea-message{
    height: 82px;
    width: -webkit-fill-available;
    resize: none;
    margin-bottom: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
}

.textarea-label{
    position: absolute;
    left: 12px;
    top: 18px;
    font-size: 16px;
    font-weight: 400;
}

.btn-enviar{
    background-color: var(--fuente-productos-azul);
    color: white;
    font-size: 16px;
    border: none;
    font-weight: 400;
    width: 150px;
    padding: 16px;
}

.rodapie{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodapie-container{
    margin: 32px;
    text-align: center;
}

.rodapie-container p{
    font-size: 16px;
    font-weight: 500;
}

@media (min-width:320px) and (max-width:768px){
    .menu{
        width: 90%;
    }

    .logo{
        width: 7.5rem;
    }
    
    .div-search{
        margin-right: 10%;
    }
    
    .input-search{
        display: none;
    }

    .btn-search{
        display: none;

    }

    .btn-lupa{
        display: inline;
        background-color: white;
        border: none;
        margin-left: 0.62rem;
    }
}