@import url(variables.css);
body{
    font-family: "raleway";
    font-weight: 700;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    width: 85%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .85rem;
    padding-bottom: .85rem;
}

.logo{
    width: 9.3rem;
}

.div-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50%;
}

.input-search{
    padding: .75rem;
    background: var(--background-blanco);
    border-radius: 1.25rem;
    border: none;
    outline: none;
}

.btn-search{
    margin-left: -50px;
    border: none;
    opacity: 50;
    background-color: var(--background-blanco);
}

.btn-lupa{
    display: none;
}

a{
    text-decoration: none;
}

footer{
    width: 100%;
    background-color: #EAF2FD;
    display: flex;
}

.formulario-container{
    display: flex;
    width: 85%;
    height: min-content;
    flex-direction: row;
    margin: 4rem auto;
    justify-content: space-between;
}

.logo-footer-container{
    display: flex;
    width: min-content;
    height: min-content;
    flex-direction: column;
}

.links-container{
    display: flex;
    flex-direction: column;
}

.links-container a{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;

}

.formulario{
    width: 46%;
    display: flex;
    flex-direction: column;
    margin-right: 3.313rem;
}

.formulario h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.input-container{
    position: relative;
}

.input-name{
    height: 56px;
    margin-bottom: 8px;
}

.textarea-message{
    height: 82px;
    resize: none;
    margin-bottom: 8px;
}

.btn-enviar{
    font-size: 16px;
    font-weight: 400;
    width: 150px;
    padding: 16px;
    cursor: not-allowed;
}

.rodapie{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodapie-container{
    margin: 32px;
    text-align: center;
}

.rodapie-container p{
    font-size: 16px;
    font-weight: 500;
}

/*Responsividad tablet*/
@media (min-width:769px) and (max-width:1024px){

    .menu{
        width: 90%;
    }

    .div-search{
        margin-right: 25%;
    }

    .formulario-container{
        width: 90%;
        flex-direction: column;
        margin: 2rem auto;
    }

    .formulario{
        position: absolute;
        right: 0;
    }
}

/*Responsividad mobile*/
@media (min-width:320px) and (max-width:768px){
    .menu{
        width: 90%;
    }

    .logo{
        width: 7.5rem;
    }
    
    .div-search{
        display: none;
    }

    .btn-search{
        vertical-align: middle;
        display: none;
    }

    .btn-lupa{
        display: inline;
        background-color: white;
        border: none;
        margin-left: 0.62rem;
    }

    footer{
        justify-content: center;
    }

    .formulario-container{
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 90%;
    }

    .logo-footer-container{
        margin: 16px 0;
    }

    .links-container{
        align-items: center;
        gap: 16px;
        margin-bottom: 32px;
    }

    .links-container a{
        margin-bottom: 0;
    }

    .formulario{
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
}