@import url(variables.css);

.btn-login{
    width: 9rem;
    height: 2.5rem;
}

.banner{
    display: flex;
    flex-direction: column;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: center center;
    position: static;
    justify-content: center;
}

.banner-texto h1{
    font-weight: 700;
    font-size: 60px;
    color: var(--fuente-banner);
    margin-top: 80px;
    margin-left: 120px;
    margin-bottom: 30px;
    text-align: left;
}

.banner-texto p{
    font-weight: 400;
    font-size: 20px;
    color: var(--fuente-banner);
    margin-left: 7.5rem;
    margin-bottom: 1.25rem;
    text-align: left;
}

.btn-consolas{
    width: 6.8rem;
    height: 3.1rem;
    font-size: 16px;
    font-weight: 400;
    margin-left: 7.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}


.categoria{
    margin-top: 1.25rem;
    margin-bottom: 4rem;
}

.categoria-texto img{
    width: 16px;
    height: 16px;
    padding-right: 3.75rem;
}

.categoria-texto a{
    margin-top: 10px;
    font-size: 16px;
    color: var(--fuente-productos-azul);
}

/*Responsividad tablet*/
@media (min-width:769px) and (max-width:1024px){

    .banner-texto h1, .banner-texto p{
        margin-left: 32px;
    }

    .btn-consolas{
        margin-left: 32px;
    }

    .categoria-texto{
        width: 90%;
    }

    .productos{
        width: 90%;
    }

    .productos .card:nth-child(n+5){
        display: none;
    }

}
/*Responsividad mobile*/
@media (min-width:320px) and (max-width:768px){
    .btn-login{
        width: 6rem;
    }
    
    .banner-texto h1{
        font-size: 22px;
        margin-left: 1rem;
    }
    
    .banner-texto p{
        font-size: 0.8rem;
        margin-left: 1rem;
    }
    
    .btn-consolas{
        margin-left: 1rem;
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        text-align: center;
    }

    .categoria-texto{
        width: 90%;
    }

    .productos{
        width: 90%;
    }

    .productos .card:nth-child(n+5){
        display: none;
    }
}