@import url(root.css);

.btn-login{
    width: 9rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    border: 2px solid var(--fuente-productos-azul);
    font-size: 16px;
    color: #2A7AE4;
}

.contenido-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner{
    display: flex;
    flex-direction: column;
    background-image: url(/img/banner.png);
    background-size: cover;
    background-position: center center;
    position: static;
    justify-content: center;
}

.banner-texto h1{
    font-weight: 700;
    font-size: 60px;
    color: var(--fuente-banner);
    margin-top: 80px;
    margin-left: 120px;
    margin-bottom: 30px;
    text-align: left;
}

.banner-texto p{
    font-weight: 400;
    font-size: 20px;
    color: var(--fuente-banner);
    margin-left: 7.5rem;
    margin-bottom: 1.25rem;
    text-align: left;
}

.btn-consolas{
    width: 6.8rem;
    height: 3.1rem;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--fuente-productos-azul);
    color: white;
    margin-left: 7.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    border: none;
}


.categoria{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 4rem;
}

.categoria-texto{
    width: 85%;
    height: 2.37rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categoria-texto h2{
    font-size: 32px;
    margin-left: 00.62rem;
}

.categoria-texto img{
    width: 16px;
    height: 16px;
    padding-right: 3.75rem;
}

.categoria-texto a{
    margin-top: 10px;
    font-size: 16px;
    color: var(--fuente-productos-azul);
}

.productos{
    width: 85%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card{
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    box-sizing: border-box;
}

.card img{
    width: 11rem;
    height: 10.8rem;
    display: flex;
}

.card h3{
    font-weight: 500;
    font-size: 14px;
    color: var(--fuente-productos);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p{
    font-weight: 500;
    font-size: 14px;
    color: var(--fuente-productos);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card a{
    font-weight: 700;
    font-size: 16px;
    color: var(--fuente-productos-azul);
    margin-top: 10px;
}

@media (min-width:320px) and (max-width:768px){
    .btn-login{
        width: 6rem;
    }
    
    .banner-texto h1{
        font-size: 22px;
        margin-left: 1rem;
    }
    
    .banner-texto p{
        font-size: 0.8rem;
        margin-left: 1rem;
    }
    
    .btn-consolas{
        margin-left: 1rem;
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        text-align: center;
    }
}