@import url(variables.css);

.div-search{
    margin-right: 67.25%;
}

main{
    background-color: var(--background-blanco);
}

.formulario-container-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 92px;
}

.form-login{
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 423px;
    display: flex;
}

.form-login h2{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    text-align:center;
}

.form-login .input-container{
    width: 100%;
}

.input-email, .input-password{
    width: 100%;
    height: 63px;
}

.btn-entrar{
    width: 100%;
    height: 62px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    cursor: not-allowed;
}

/*Responsividad tablet*/
@media (min-width:769px) and (max-width:1024px){
    .form-login{
        width: 275px;
    }

    .form-login h2{
        font-size: 16px;
    }

    .btn-entrar{
        width: 109px;
    }

}
/*Responsividad mobile*/
@media (min-width:320px) and (max-width:768px){
    .form-login{
        width: 275px;
    }

    .form-login h2{
        font-size: 16px;
    }

    .btn-entrar{
        width: 109px;
    }
}