@import url(variables.css);

main{
    background-color: var(--background-blanco);
}

.div-search{
    margin-right: 67.25%;
}

.categoria{
    margin-top: 64px;
}

.categoria-texto{
    align-items: center;
}

.categoria-texto a{
    margin-right: 7%;
}

.btn-agregar{
    padding: 16px;
}

.card{
    margin-bottom: 64px;
    position: relative;
}

.btn-opc-producto{
    position: absolute;
    display: flex;
    padding: 0;
    background: none;
    border: none;
}

.btn-delete{
    top: 11px;
    right: 65px;
}

.btn-edit{
    top: 11px;
    right: 30px;
}

.btn-opc-img{
    display: flex;
}

/*Responsividad mobile*/
@media (min-width:320px) and (max-width:768px){
    .btn-agregar{
        margin-left: 0.62rem;
    }
}