@import url(variables.css);

main{
    background-color: var(--background-blanco);
}

.div-search{
    margin-right: 67.25%;
}

.categoria{
    margin-top: 64px;
}

.categoria-texto{
    align-items: center;
}

.categoria-texto a{
    margin-right: 7%;
}

.btn-agregar{
    padding: 16px;
}

.card{
    margin-bottom: 64px;
}