:root{
    --raleway: "raleway";
    --background-blanco: #F5F5F5;
    --fuente-barra: #A2A2A2;
    --borde-input-gris: #C8C8C8;
    --fuente-banner: #FFFFFF;
    --fuente-productos: #464646;
    --fuente-productos-azul: #2A7AE4;
    --cardWidth: 12.5rem;
    --cardHeight: 15.1rem;
    --cardMargin: 0.62rem;
}