@import url(../variables.css);
.btn-azul{
    background-color: var(--fuente-productos-azul);
    border: none;
    color: white;
    cursor: pointer !important;
}

.btn-blanco{
    background-color: #FFFFFF;
    border: 2px solid var(--fuente-productos-azul);
    font-size: 16px;
    color: #2A7AE4;
    cursor: pointer;
}

/* Clase de estilo para boton enviar de formulario de contacto: */