@import url(../variables.css);

.input-base{
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid var(--borde-input-gris);
    padding: 28px 0 8px 12px;
    box-sizing: border-box;
}

.input-base::placeholder{
    visibility: hidden;
}