@import url(../variables.css);

.input-base{
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid var(--borde-input-gris);
    padding: 28px 0 8px 12px;
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

.input-base::placeholder{
    visibility: hidden;
}

input:-webkit-autofill { 
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */ 
}

/* Clases para estilos de inputs con errores de validacion: */

.input-message-error{
    display: none;
    margin: 0 0 16px 12px;
    color: coral;
}

.input-container--invalid .input-base{
    border: 1px solid coral;
    border-radius: 7px;
}

.input-container--invalid .input-message-error{
    display: flex;
}